$white: #fff;
$border-color: #e0e0e0;

$date-color: #8a8995;
$issue-font-color: #080606;

// scrollbar
$scrollbar-track: #F5F5F5;
$scrollbar: #e0e0e0;

// nav dots
$red: #ff594f;
$yellow: #ffbc1b;
$green: #00cd46;

//border radius
$border-radius: 10px;
$border-radius-small: 5px;